{% extends "base.html" %}

{% block content %}

<div class="flex flex-col mx-auto mt-10">
    <h3 class="font-bold text-center">
        {{ app_name }}
    </h3>
    <div class="mt-2 mx-auto text-xs text-zinc-400">
        @{{ app_version }}
    </div>
</div>

<div class="flex flex-row mx-auto mt-10">
    <div class="w-1/12"></div>
    <div class="w-10/12 text-xs text-zinc-400">
        <a href="/buckets" class="text-blue-700 font-bold">
            buckets
        </a>
        &nbsp;/&nbsp;{{bucket_name}}
    </div>
</div>


<div class="flex flex-col mx-auto mt-5 mb-20 xs:w-full sm:w-full" id="buckets-table">
    {% include "buckets/objects/list_table.html" %}
</div>

{% endblock %}