# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.code-workspace
.env*
.venv*
.vscode
.DS_Store

sqlite*

data/
downloads/
env/
logs/
**/*secret*.yml
.snaplet/snapshots
.snaplet/structure.d.ts
