{% extends "base.html" %}

{% block content %}

<div class="flex flex-col mx-auto mt-10">
    <h3 class="font-bold text-center">
        {{ app_name }}
    </h3>
    <div class="mt-2 mx-auto text-xs text-zinc-400">
        @{{ app_version }}
    </div>
</div>

<div class="flex flex-row mx-auto mt-10">
    <div class="w-1/12"></div>
    <div class="w-10/12 text-xs text-zinc-400">
        <a href="/corpus" class="text-blue-700 font-bold">
            corpus
        </a>
        &nbsp;/&nbsp;
        <a href="/corpus?query=id:{{corpus.id}}" class="text-blue-700 font-bold">
            {{corpus.name}}
        </a>
        &nbsp;/&nbsp;
        query
    </div>
</div>

<form id="rag-query-form" hx-get="/corpus/{{corpus.id}}/query" hx-on::before-request="htmx_before_rag_submit(event)"
    hx-target="#rag-response">
    <div class="flex flex-row mx-auto mt-10">
        <div class="w-1/12"></div>
        <div class="w-1/12 font-semibold text-xs">
            <select id="mode" name="mode" hx-get="/corpus/{{corpus.id}}/query?mode={{mode}}"
                hx-on::before-request="htmx_before_mode_change(event)" hx-trigger="change"
                class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-none appearance-none dark:text-black-600 dark:border-gray-500 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                {% for name in modes %}
                {% if name == mode %}
                <option value="{{name}}" selected="1">{{name}}</option>
                {% else %}
                <option value="{{name}}">{{name}}</option>
                {% endif %}
                {% endfor %}
            </select
                class="mt-3 block w-full appearance-none rounded-lg border-none bg-white/5 py-1.5 px-3 text-sm/6 text-white focus:outline-none data-[focus]:outline-2 data-[focus]:-outline-offset-2 data-[focus]:outline-white/25">
        </div>
        <div class="w-6/12 font-semibold text-xs">
            <input type="search" id="rag-query-input" name="query" value="{{query}}" placeholder="{{query_prompt}}"
                autocomplete="off"
                class="peer px-0 py-2.5 mx-0 h-full w-full border-b bg-transparent font-sans text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-pink-600 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50">
        </div>
    </div>
</form>

<div class="flex flex-col mx-auto mt-0 mb-20 xs:w-full sm:w-full" id="rag-response">
    {% include "rag/query_fragment.html" %}
</div>

<script type="text/javascript">
    function htmx_before_mode_change(e) {
        // set input placeholder based on selected mode
        e.stopPropagation()

        if (e.target.value == "image-caption") {
            document.getElementById("rag-query-input").placeholder = "image url"
            document.getElementById("rag-query-input").value = ""
        } else {
            document.getElementById("rag-query-input").placeholder = "question"
            document.getElementById("rag-query-input").value = ""
        }
    }

    function htmx_before_rag_submit(e) {
        // hide results, show processing state
        e.stopPropagation()

        var elements = document.querySelectorAll(".rag-infer,.rag-node-description,.rag-node-image,.rag-node-text")

        for (var i = 0; i < elements.length; i++) {
            elements[i].style.visibility = "hidden"
        }

        document.getElementById("rag-query-status").style.visibility = "hidden"
        document.getElementById("rag-query-processing").style.display = ''
    }
</script>

{% endblock %}